.wrapper {
  margin: 5px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_calc {
  color: #bfe2ff;
  padding: 9px;
  border-radius: 10px;
  border: 3px solid #bfe2ff;
  background: #337ab7;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin-left: 10px;
  &:hover {
    color: #fff;
    transition: 0.5s;
  }

  &:active {
    box-shadow: 0 0px 0px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .btn_calc {
    padding: 9px;
    margin-top: 2px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .btn_calc {
    padding: 9px;
    margin-top: 4px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .btn_calc {
    padding: 7px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 600px) {
  .btn_calc {
    padding: 9px;
    margin-top: -8px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .btn_calc {
    padding: 7px;
    margin-top: -8px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 420px) {
  .btn_calc {
    padding: 7px;
    margin-top: -10px;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .btn_calc {
    padding: 7px;
    margin-top: -10px;
  }
}
