.wrapper {
  //   width: 100%;

  //   border: 2px solid red;
}

.body {
  display: flex;
  //  justify-content: center;
  align-items: center;
}

.btn_calc {
  color: #bfe2ff;
  padding: 9px;
  margin-left: 20px;
  border-radius: 10px;
  border: 3px solid #bfe2ff;
  background: #337ab7;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  &:hover {
    color: #fff;
    transition: 0.5s;
  }

  &:active {
    box-shadow: 0 0px 0px;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
}
/* Iphone 5 */
@media (max-width: 320px) {
}
