.wrapper {
  //   margin: 5px;
  //   width: 87%;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_calc {
  color: #bfe2ff;
  padding: 9px;
  margin-left: 20px;
  border-radius: 10px;
  border: 3px solid #bfe2ff;
  background: #337ab7;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  &:hover {
    color: #fff;
    transition: 0.5s;
  }

  &:active {
    box-shadow: 0 0px 0px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 820px) {
  .btn_calc {
    padding: 7px;
    margin-left: 10px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .btn_calc {
    padding: 7px;
    margin-left: 10px;
  }
}

@media (max-width: 690px) {
  .btn_calc {
    padding: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  .btn_calc {
    padding: 6px;
    margin-left: 5px;
    font-size: 16px;
    margin-top: -10px;
  }

  .body {
    justify-content: space-around;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .btn_calc {
    padding: 6px;
    margin-left: 3px;
    margin-top: -7px;
    font-size: 12px;
  }

  .body {
    justify-content: space-around;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .body {
    justify-content: space-around;
  }
}
