.wrapper {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn_calc {
  color: #bfe2ff;
  padding: 9px;
  border-radius: 10px;
  border: 3px solid #bfe2ff;
  background: #337ab7;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;

  &:hover {
    color: #fff;
    transition: 0.5s;
  }

  &:active {
    box-shadow: 0 0px 0px;
  }
}

.input_size_side__wraper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 820px) {
  .btn_calc {
    padding: 7px;
    margin-left: 3px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .btn_calc {
    padding: 5px;
    margin-left: 3px;
    margin-top: -4px;
  }
}

@media (max-width: 600px) {
  .btn_calc {
    padding: 8px;
    margin-left: 3px;
    margin-top: -6px;
    font-size: 14px;
  }
}

@media (max-width: 515px) {
  .btn_calc {
    padding: 8px;
    margin-left: 3px;
    margin-top: -70px;
    font-size: 14px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .btn_calc {
    padding: 8px;
    margin-left: 3px;
    margin-top: -7px;
    font-size: 14px;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
}
