.wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  height: 6vh;
  width: 100vw;
  background: rgb(6, 176, 188);
}

.header {
  height: 6vh;
  width: 100vw;
  background: rgb(6, 176, 188);
}
