.wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.body {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls_wrapper {
  width: 50vw;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.controls_body {
  width: 100%;
}

.footer {
  height: 3vh;
  width: 100%;
  background: #337ab7;
}

.header {
  height: 3vh;
  width: 100%;
  background: #337ab7;
}

@mixin blocsPosition {
  .wrapper {
    overflow: auto;
  }

  .body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .controls_wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .controls_body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  @include blocsPosition;
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  @include blocsPosition;
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  @include blocsPosition;
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  @include blocsPosition;
}
/* Iphone 5 */
@media (max-width: 320px) {
  @include blocsPosition;
}
