.wrapper {
  height: 96vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hexBorder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 20vw;
}

.hexagons {
  position: relative;
  border-radius: 100%;
  width: 80%;
  height: 80%;
}

.hexagon {
  position: absolute;
  width: 21%;
  height: 19%;
  left: 40%;
  top: 40%;
  background-color: #337ab7;
  transform: scale(1.02);
  transform-origin: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  animation: animateHex 2.2s infinite;

  &:nth-child(1) {
    left: 23%;
    top: 29%;
    animation: animateHex 3s infinite;
  }

  &:nth-child(2) {
    left: 57%;
    top: 29%;
    animation: animateHex 3s 0.2s infinite;
  }

  &:nth-child(3) {
    left: 57%;
    top: 50.5%;
    animation: animateHex 3s 1s infinite;
  }

  &:nth-child(4) {
    left: 23%;
    top: 50.5%;
    animation: animateHex 3s 1.2s infinite;
  }

  &:nth-child(5) {
    left: 40%;
    top: 19%;
    animation: animateHex 3s 0.4s infinite;
  }

  &:nth-child(6) {
    left: 40%;
    top: 61%;
    animation: animateHex 3s 0.8s infinite;
  }
}

@keyframes animateHex {
  0% {
    transform: scale(1.02);
  }

  50% {
    transform: scale(0.6);
    opacity: 0;
  }

  65% {
    transform: scale(1.02);
    opacity: 1;
  }
}
