.wrapper {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_body {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid #bfe2ff;
}

.table_title {
  th {
    padding: 5px;
    border: 1px solid #bfe2ff;
    color: #fff;
    background: rgba(51, 122, 183);
  }
}

.table_content {
  text-align: center;
  td {
    border: 1px solid black;
  }
}
