.wrapper {
  height: 96vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: 100vw;
  height: 100vh;
}

@mixin areaPosition {
  .wrapper {
    width: 100vw;
    height: 60vh;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  @include areaPosition;
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  @include areaPosition;
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  @include areaPosition;
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  @include areaPosition;
}
/* Iphone 5 */
@media (max-width: 320px) {
  @include areaPosition;
}
